body {
    text-align: center;
    background-color: #333333;
}

#random {
    color: red;
}

#tryDiv {
    color: #33adff;
    font-family: Verdana;
    font-size: 4.5em;
}

#winDiv {
    color: #00e600;
    font-family: Verdana;
    font-size: 4.5em;
}

.buttonG {
    color: white;
    background-color: #1a1a1a;
    font-size: 3em;
    font-family: Tahoma;
}

.buttonG:hover {
    color: #f2f2f2;
    background-color: #33adff;
    font-size: 3em;
    font-family: Tahoma;
}

#title {
    font-size: 5.5em;
    font-family: Arial;
    color: white;
    margin-bottom: 30px;
}

#liveTxt {
    font-size: 3em;
    font-family: Arial;
    padding-top: 0px;
    margin-top: 0px;
    color: #ff1a1a;

}